/* --- Tipografia personalizada --- */
@font-face {
    font-family: 'Mangro';
    src: url('fonts/Mangro/Mangro.woff2') format('woff2'),
         url('fonts/Mangro/Mangro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProdaSans';
    src: url('fonts/proda-sans/Proda-Sans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* --- Estilos Generales --- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #f4f4f4;
    text-align: center;
    font-family: 'Proda sans', sans-serif;
    font-weight: 200;
    font-size: 18px;
    scroll-behavior: smooth;
    }
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* --- Encabezado --- */
header {
    width:100%;
    float:left;
    height: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.menu-nav{
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(64, 65, 66);
    padding: 20px;
    font-family: 'Mangro', sans-serif;
}
/* --- Menú --- */
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}
.logo{
    width: 150px;
}
.menu .navbar ul li{
    position: relative;
    float: left; 
}
.menu .navbar ul li a{
    color:rgb(188, 154, 94);
    font-size: 24px;
    padding: 10px 15px;
    display: block;
}
.menu .navbar ul li a:hover{
    color: #f4f4f4;
    background-color:rgb(188, 154, 94);
    border-radius: 0 15px;
}
.submenu-container {
    position: relative;
}
.Submenu {
    position: absolute; 
    background-color: #ffffff;
    display: none;
    list-style: none;
    width: 235px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.submenu-container:hover .Submenu {
    display: block;
}
/* --- Menú hamburguesa --- */
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
/* --- Responsividad --- */
@media(max-width:768px) {
    .menu{
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu-nav{
        padding: 1px 0 ;
    }
    .menu .navbar{
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
        background-color: white;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .Submenu{
        position: static;
        width: 100%;
        background: #ffffff;
    }
}
/* --- Imagen con texto --- */
 .wrap{
    background:linear-gradient(to bottom, rgba(149, 149, 149, .30),rgb(0 0 0 /.60)),url(Img/img1.jpg);
    display:flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0 0 50px 50px;
 }
 .wrap-texto{
    color: #ffffff;
    width: 80%;
    text-align: center;
    padding: 15% 10% 5% 10%;
 }
 .wrap-texto h1{
    font-family: 'Mangro', sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 55px;
 }
 .wrap-texto p{
    max-width: 550px; 
    margin: 35px auto 0 auto;
    margin-top:35px;
    font-family: 'Proda sans', sans-serif;
    font-weight: 50;
    font-size: 20px;
 }
 .btn{
    background-color:#ffffff;
    color: #73541D;
    padding: 15px 15px;
    border-radius:0 15px;
    display:inline-block;
    margin-top:35px;
    font-family: 'Mangro', sans-serif;
    font-size: 24px;
 }
 /* --- tipografia ser --- */
 h2{
    color: rgb(188, 154, 94);
    text-align: center;
    font-family: 'Mangro', sans-serif;
    font-size: 64px;
    font-weight: 50;
    margin-top: 45px;
 }
 h3{
    font-size: 28px; 
    font-family: 'Mangro', sans-serif;
    font-weight: 500;
    color: #73541D;
    padding: 0 0 30px;
}
/* --- serrvicios --- */
.galeria {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .item {
    width: 300px;
    position: relative;
  }
  .imagen {
    width: 100%;
    border-radius: 50px 0 0 0;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  .imagen img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
  } 
  .item:hover .imagen img {
    transform: scale(1.05);
  }
  .texto-hover {
    max-height: 0;
    overflow: hidden;
    background-color: rgba(188, 154, 94, 0.1);
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 0 0 50px 0;
    transition: max-height 0.4s ease, padding 0.4s ease;
  } 
  .item:hover .texto-hover {
    max-height: 600px;
    padding: 20px;
  }
/*sobre mi*/
.wrapper {
    display: flex;
    gap: 40px;
    margin: 50px auto;
    border-radius: 80px 0 80px 0;
   
    background-color: rgba(188, 154, 94, 0.05);
    flex-wrap: wrap; 
  }
  .img2 {
    min-width: 280px;
    max-width: 400px;
  }
  .img2 img {
    width: 100%;
    border-radius:80px 0 0 0;  
  } 
  .text-box {
    flex: 2;
    min-width: 300px;
    padding: 30px;
  }
  .text-box h2 {  
    margin-bottom: 20px;
    justify-content:left;
  }
/*forms*/
form{
    width: 200px;
    margin: 40px auto;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px #BC9A5E;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}
input,textarea{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid;
}
footer{
    background-color: #BC9A5E;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
